<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Редактирование</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form th:action="@{references/equipments/updateEquipment}" method="POST" th:object="${equipment}"
                  id="edit_equipment">
                <input type="hidden" name="pid" th:field="*{pid}" id="edit-equipment-id">

                <div class="mb-1 w-25 h-25">
                    <img class="card-img" th:src="@{references/equipments/image(pid=${equipment.pid})}"/>
                </div>

                <div class="mb-3">
                    <label for="edit-name-equipment" class="col-form-label">Название</label>
                    <input type="text" class="form-control" id="edit-name-equipment" name="edit-name-equipment">
                </div>

                <div class="mb-3">
                    <label for="edit-quantity-equipment" class="col-form-label">В наличии:</label>
                    <input type="number" class="form-control" id="edit-quantity-equipment"
                           name="edit-quantity-equipment">
                </div>

                <div class="mb-3">
                    <label for="edit-priceEquipment" class="col-form-label">Цена:</label>
                    <input type="number" class="form-control" id="edit-priceEquipment" name="edit-priceEquipment">
                </div>

                <div class="mb-3">
                    <label for="edit-descriptionEquipment" class="col-form-label">Описание:</label>
                    <input type="text" class="form-control" id="edit-descriptionEquipment"
                           name="edit-descriptionEquipment">
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>