<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<table class="table">
    <thead class="table-secondary">
    <tr>
        <th scope="col">Заказчик</th>
        <th scope="col">Статус заказа</th>
        <th scope="col">Коментарий</th>
        <th scope="col">Создан</th>
        <th scope="col">Обновлён</th>
        <th scope="col">Операции</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="order : ${orders}" th:object="${order}">
        <td style="display: none">
            <div id="pid" th:text="*{pid}"></div>
        </td>
        <td th:text="*{user.getFio()}"></td>
        <td th:text="*{orderStatus.getRusText()}"></td>
        <td th:text="*{comment}"></td>
        <td th:text="*{createDateHelper()}"></td>
        <td th:text="*{lastUpdateDateHelper()}"></td>

        <td>
            <a th:href="@{orders/edit/(pid=*{pid})}" class="btn btn-warning editBtn">
                Edit
            </a>
            <a th:href="@{orders/delete/(pid=*{pid})}" class="btn btn-danger deleteBtn">
                Delete
            </a>
        </td>
    </tr>
    </tbody>
</table>
</html>