<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Создание насекомого</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form th:action="@{/references/insects/saveInsect}" method="post" enctype="multipart/form-data"
                  id="add_insect">

                <div class="mb-3">
                    <label for="insect-name" class="col-form-label">Название:</label>
                    <select name="name" class="form-select" id="insect-name" required>
                        <option value="" selected="selected"></option>
                        <option th:each="name: ${T(by.nurvazarov.generalnasa.model.product.insect.InsectEnum).values()}"
                                th:value="${name}"
                                th:text="${name.getRusName()}">
                        </option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="quantityInsects" class="col-form-label">В наличии:</label>
                    <input type="number" class="form-control" id="quantityInsects" name="quantityInsects">
                </div>

                <div class="mb-3">
                    <label for="priceInsect" class="col-form-label">Цена:</label>
                    <input type="number" class="form-control" id="priceInsect" name="priceInsect">
                </div>

                <div class="mb-3">
                    <label for="descriptionInsect" class="col-form-label">Описание:</label>
                    <input type="text" class="form-control" id="descriptionInsect" name="descriptionInsect">
                </div>

                <div class="mb-3">
                    <label for="formFile" class="form-label">Изображение</label>
                    <input class="form-control" type="file" id="formFile" name="maintenanceFile">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>

    </div>
</div>
</html>